<script>
    $( document ).ready(function() {
        $(".setsize").each(function() {
            $(this).height($(this).width());
        });
    });
    $(window).on('resize', function(){
        $(".setsize").each(function() {
            $(this).height($(this).width());
        });
    });

    $(document).ready(function() {
        $("#shortDescription").show();
        $("#longDescription").hide();

        $("#showMoreButton").click(function(){
                    $("#shortDescription").hide();
                    $("#longDescription").show();
        });

        $("#showLessButton").click(function(){
            $("#shortDescription").show();
            $("#longDescription").hide();
        });
    });
</script>

<main>

    <ol class="container breadcrumb transparent">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

    <!-- Add Content Buttons -->
    {{#if isAdmin}}
        <div class="container">
            <a class="btn btn-default btn-sm" href="/project/create"><span class="glyphicon glyphicon-plus"></span> New Project</a>
            <a class="btn btn-default btn-sm" href="/customer/create"><span class="glyphicon glyphicon-plus"></span>New Customer</a>
            <a class="btn btn-default btn-sm" href="/team/create"><span class="glyphicon glyphicon-user"></span>Create Team</a>
        </div>
    {{/if}}

    <!-- Content -->
    <div class="container">

        <!-- Left Section -->
        <div class="col-lg-3 section">

            <!--  Circle Progress  -->
            <hr>
            <div class="section">
                <div class="progress-radial progress-{{project.projectProgressRounded}} setsize">
                    <div class="overlay setsize">
                        <p>{{project.projectProgress}}%</p>
                    </div>
                </div>
            </div>
            <hr>

            <!--  Project Details  -->
            <!--<div class="section well ">

                <h4>Project Details</h4>
                <hr>

                &lt;!&ndash;  Date  &ndash;&gt;
                <span class="glyphicon glyphicon-hourglass"></span>
                {{project.date}}
                <hr>

                &lt;!&ndash;  Team  &ndash;&gt;
                <span class="glyphicon glyphicon-user"></span>
                {{project.projectTeam.teamName}}
                <hr>

                &lt;!&ndash;  Commits  &ndash;&gt;
                <span class="glyphicon glyphicon-pencil"></span>
                <a href="#">Project Commits <span class="badge pull-right">{{project.commits}}</span></a>
            </div>-->

            <!--  Project Details 2 -->
            <div class="list-group">
                <div class="list-group-item active">
                    Project Details
                </div>

                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-hourglass"></span>
                    {{project.date}}
                </a>

                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-user"></span>
                    {{project.projectTeam.teamName}}
                </a>

                <a href="#tasksTable" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Project Tasks <span class="badge">3</span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Project Commits <span class="badge">{{project.commits}}</span>
                </a>
            </div>

            <!--  Project Details Collapsible -->
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Project Details</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-hourglass"></span>
                                {{project.date}}
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-user"></span>
                                {{project.projectTeam.teamName}}
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Project Tasks <span class="badge">3</span>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <a href="#">Project Commits <span class="badge pull-right">{{project.commits}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--  Client Details  -->
            <div class="section well">

                <h4>Client Details</h4>
                <hr>

                <!--  Name  -->
                <span class="glyphicon glyphicon-user"></span>
                {{project.projectCustomer.customerName}}
                <hr>

                <!--  Address  -->
                <span class="glyphicon glyphicon-map-marker"></span>
                {{project.projectCustomer.customerAddress}}
                <hr>

                <!--  Phone  -->
                <span class="glyphicon glyphicon-earphone"></span>
                {{project.projectCustomer.customerPhone}}
                <hr>

                <!--  Email  -->
                <span class="glyphicon glyphicon-envelope"></span>
                <a href="#">{{project.projectCustomer.customerEmail}}</a>
            </div>
        </div>

        <!-- Right Section -->
        <div class="col-lg-9 section">

            <!-- Project Name -->
            <div class="">
                <h3>{{project.projectName}}</h3>
                <p>{{project.projectCustomer.customerName}}  |  {{project.date}}</p>
                <hr>
            </div>

            <!-- Data Squares -->
            {{#if isAdmin}}
                <div class="text-uppercase">
                    <div class="">

                        <p>Project Budget Planning</p>
                        <div class="info-squares">
                            Time Planned
                            <h5>{{project.projectWorkingHours}} <span class="small">/ hrs</span></h5>
                        </div>

                        <div class="info-squares ">
                            Labour cost
                            <h5>$ {{project.projectLaborCost}}</h5>
                        </div>

                        <div class="info-squares">
                            Planned expenses
                            <h5>$ {{project.projectExpenses}}</h5>
                        </div>

                        <div class="info-squares white">

                        </div>

                        <div class="info-squares">
                            Project Price
                            <h5>$</span> {{project.projectPrice}}</h5>
                        </div>
                    </div>

                    <div class="">

                        <p>Actual Project Cost</p>
                        <div class="info-squares">
                            Actual Time
                            <h5>{{project.actualHours}}  <span class="small">/ hrs</span></h5>
                        </div>

                        <div class="info-squares">
                            Current Labour Cost
                            <h5>$ {{project.projectLaborCost}}</h5>
                        </div>

                        <div class="info-squares">
                            Actual expenses
                            <h5>$ {{project.projectExpenses}}</h5>
                        </div>

                        <div class="info-squares white">
                            Progress
                            <div class="progress" style="width: 100%">
                                <div class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow=""
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{project.projectProgress}}%;">
                                </div>
                            </div>
                            <h5>{{project.projectProgress}}%</h5>
                        </div>

                        <div class="info-squares red">
                            Total Cost
                            <h5>$ {{project.totalCost}}</h5>
                        </div>

                    </div>

                </div>

            {{/if}}

            <!-- Project Description Short-->
            <div id="shortDescription" class="section">
                <h5>Description</h5>
                <p>{{project.projectDescriptionShort}}</p>
                <button id="showMoreButton" class="btn btn-xs btn-default center">Show More</button>
            </div>

            <!-- Project Description Long-->
            <div id="longDescription" class="section" hidden>
                <h5>Description</h5>
                <p>{{project.projectDescription}}</p>
                <button id="showLessButton" class="btn btn-xs btn-default center">Show less</button>
            </div>

            <!--  Tasks  -->
            <h5>Project Tasks</h5>
            <table class="table" id="tasksTable">

                <!-- Table Head -->
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>

                <!-- Table Data -->
                {{#each project.projectTasks}}
                    <tr>
                        <!-- Task Name -->
                        <td class="" id="taskName"><h6>{{this.taskName}}</h6></td>

                        <!-- Task Description -->
                        <td class="" id="taskDescription">{{this.taskDescription}}</td>

                        <!-- Task Deadline -->
                        {{#if this.isOverdue}}
                        <td class="alert-warning" id="taskDeadline" >{{this.date}}</td>
                        {{/if}}

                        {{#unless this.isOverdue}}
                            <td class="" id="taskDeadline" >{{this.date}}</td>
                        {{/unless}}

                        <!-- Task Status -->
                        {{#if this.taskActive}}
                        <td class="" id="taskActive"><span class="glyphicon glyphicon-star glyphicon-active"></span>Active</td>
                        {{/if}}

                        {{#unless this.taskActive}}
                            <td class="" id="taskActive"><span class="glyphicon glyphicon-ok glyphicon-cool"></span>Closed</td>
                        {{/unless}}

                        <!-- Details Button -->
                        <td>
                            <a href="/task/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                        </td>
                    </tr>
                {{/each}}
            </table>

            <a href="/project/list"><button class="btn btn-default">Back</button></a>
        </div>
    </div>
</main>