<script>
    $( document ).ready(function() {
        $(".setsize").each(function() {
            $(this).height($(this).width());
        });
    });
    $(window).on('resize', function(){
        $(".setsize").each(function() {
            $(this).height($(this).width());
        });
    });

    $(document).ready(function() {
        $("#shortDescription").show();
        $("#longDescription").hide();

        $("#showMoreButton").click(function(){
                    $("#shortDescription").hide();
                    $("#longDescription").show();
        });

        $("#showLessButton").click(function(){
            $("#shortDescription").show();
            $("#longDescription").hide();
        });
    });

    function cancelProject () {

        let projectId = $("#cancelProject").val();
        let url = '/project/cancel/' + projectId;

        if(confirm("Are you sure you want to cancel this project?")){
            $.post(url, {cancel: true}, function () {
            });
            window.location.replace('/project/list')
        }
        else{
            return false;
        }
    };

</script>

<main>
    {{#if user}}
        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li class="active">{{project.projectName}}</li>
        </ol>

        <!-- Content -->
        <div class="container">

            <!-- Project Name + Client -->
            <div class="col-sm-12">
                <div class="page-header">
                    <div class="col-xs-3 pull-right">
                        <div class="row">
                            {{#if isAdmin}}
                                {{#if project.projectActive}}
                                    <button id="cancelProject" class="btn btn-success pull-right" onclick="cancelProject()" value="{{project.id}}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        Cancel Project
                                    </button>
                                {{/if}}
                            {{/if}}

                            {{#if project.projectActive}}
                                <a href="/project/expenses/{{project.id}}">
                                    <button class="btn btn-default pull-right">
                                        <span class="glyphicon glyphicon-usd"></span>
                                        Manage Expenses
                                    </button>
                                </a>
                            {{/if}}
                        </div>

                    </div>
                    <h1>{{project.projectName}}</h1>
                    <a href="/customer/details/{{project.projectCustomer.id}}">{{project.projectCustomer.customerName}}</a> <span class="glyphicon glyphicon-menu-right"></span>  {{project.date}}</p>

                </div>
            </div>

            <!-- Left Section -->
            <div class="col-lg-3 col-md-8 col-sm-12 ">

                <!--  Circle Progress  -->
                <div class="col-lg-12 col-md-6 col-xs-6 disappear">
                    <div class="container-border progress-radial progress-{{project.projectProgressRounded}} setsize">
                        <div class="overlay setsize">
                            <p>{{project.projectProgress}}%</p>
                        </div>
                    </div>
                </div>

                <!--  Project Info  -->
                <h6>Project Details</h6>
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 section well">

                    {{#if task.taskProjectId.projectActive}}
                        <span class="glyphicon glyphicon-hourglass"></span>
                        {{task.taskProjectId.date}}
                    {{else}}
                        <h5><span class="glyphicon glyphicon-star glyphicon-active"></span>
                        {{task.taskProjectId.projectStatus}} ON {{task.taskProjectId.date}}</h5>
                    {{/if}}
                    <hr>

                    <span class="glyphicon glyphicon-hourglass"></span>
                    {{project.date}}
                    <hr>

                    <span class="glyphicon glyphicon-user"></span>
                    <a href="team/details/{{project.projectTeam.id}}">{{project.projectTeam.teamName}}</a>
                    <hr>

                    <span class="glyphicon glyphicon-th-list"></span>
                    <a href="#tasksTable">Project Tasks </a> <span class="badge pull-right">{{project.taskCount}}</span>
                    <hr>

                    <span class="glyphicon glyphicon-pencil"></span>
                    Project Commits <span class="badge pull-right">{{project.commits}}</span>
                </div>

                    <!--  Project Details List Group -->
                    <!--<div class="col-lg-12 col-md-6 col-xs-6 ">

                        <div class="list-group">
                            <div class="list-group-item active">
                                Project Details
                            </div>

                            {{#if project.projectActive}}
                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-hourglass"></span>
                                {{project.date}}
                            </a>
                            {{else}}
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {{project.projectStatus}} on {{project.date}}
                                </a>
                            {{/if}}

                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-user"></span>
                                {{project.projectTeam.teamName}}
                            </a>

                            <a href="#tasksTable" class="list-group-item">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Project Tasks <span class="badge">{{project.taskCount}}</span>
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Project Commits <span class="badge">{{project.commits}}</span>
                            </a>
                        </div>

                    </div>-->

                <!--  Client Details  -->
                <div class="col-lg-12 col-md-12 col-xs-12 section">

                    <a href="/customer/details/{{project.projectCustomer.id}}">
                        <h5>{{project.projectCustomer.customerName}}</h5>
                    </a>
                    <hr>

                    <div class="row">
                        <div class="col-lg-12">
                            <span class="glyphicon glyphicon-earphone"></span>
                            {{project.projectCustomer.customerPhone}}<br>
                            <span class="glyphicon glyphicon-envelope"></span>
                            {{project.projectCustomer.customerEmail}}<br>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            {{project.projectCustomer.customerAddress}}<hr>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Section -->
            <div class="col-lg-9 col-md-12">
                <div class="row">
                    <!-- Project Description Short-->
                    <div id="shortDescription" class="col-sm-12">

                        <h3>Description</h3>
                        <p>{{project.projectDescriptionShort}}</p>
                        <button id="showMoreButton" class="btn btn-xs btn-default center">Show More</button>
                    </div>

                    <!-- Project Description Long-->
                    <div id="longDescription" class="col-sm-12" hidden>
                        <h3>Description</h3>
                        <p>{{project.projectDescription}}</p>
                        <button id="showLessButton" class="btn btn-xs btn-default center">Show less</button>
                    </div>
                </div>
            </div>

            <!-- Data Squares -->
            <div class="col-lg-9 col-md-12 section">
                {{#if isAdmin}}
                    <div class="section text-uppercase">
                        <hr>
                        <!--  First Row  -->
                        <div class="row section">
                            <div class="col-sm-12">
                                <p>Declared Budget</p>

                                <div class="col-xs-2 info-squares">
                                    Time Planned
                                    <h5>{{project.projectWorkingHours}} <span class="small">/ hrs</span></h5>
                                </div>

                                <div class="col-xs-2 info-squares">
                                    Labour cost
                                    <h5>$ {{project.labourCostPlanned}}</h5>
                                </div>

                                <div class="col-xs-2 info-squares">
                                    Planned expenses
                                    <h5>$ {{project.projectExpenses}}</h5>
                                </div>

                                <div class="col-xs-2 info-squares">

                                </div>

                                <div class="col-xs-2 info-squares">
                                    Project Price
                                    <h5>$</span> {{project.projectPrice}}</h5>
                                </div>
                            </div>
                        </div>

                        <!--  Second Row  -->
                        <div class="row section">
                            <div class="col-sm-12">

                                <p>Actual Project Cost</p>

                                <div class="col-xs-2 info-squares">
                                    Actual Time
                                    <h5>{{project.actualHours}}  <span class="small">/ hrs</span></h5>
                                </div>

                                <div class="col-xs-2 info-squares">
                                    Current Labour Cost
                                    <h5>$ {{project.projectLaborCost}}</h5>
                                </div>

                                <div class="col-xs-2 info-squares">
                                    Actual expenses
                                    <h5>$ {{project.actualExpenses}}</h5>
                                </div>

                                <div class="col-xs-2 info-squares white">
                                    Progress
                                    <div class="progress" style="width: 100%">
                                        <div class="progress-bar"
                                             role="progressbar"
                                             aria-valuenow=""
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: {{project.projectProgress}}%;">
                                        </div>
                                    </div>
                                    <h5>{{project.projectProgress}}%</h5>
                                </div>

                                <div class="col-xs-2 info-squares red">
                                    Total Cost
                                    <h5>$ {{project.totalCost}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>

            <!--  Tasks Table + Back Button -->
            <div class="col-lg-9 col-sm-12 section">
                <h3>Project Tasks</h3>
                <table class="table table-responsive" id="tasksTable">

                    <!-- Table Head -->
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Details</th>
                    </tr>

                    <!-- Table Data -->
                    {{#each project.projectTasks}}
                        <tr>

                            <!-- Task Status -->
                            {{#if this.taskActive}}
                                <td class="col-xs-1" id="taskActive">
                                    <span class="glyphicon glyphicon-star glyphicon-active"></span>
                                </td>
                            {{/if}}

                            {{#unless this.taskActive}}
                                <td class="col-xs-1" id="taskActive">
                                    <span class="glyphicon glyphicon-ok glyphicon-done"></span>
                                </td>
                            {{/unless}}

                            <!-- Task Name -->
                            <td class="col-xs-3" id="taskName"><h5>{{this.taskName}}</h5></td>

                            <!-- Task Description -->
                            <td class="col-xs-5" id="taskDescription">
                                <p>{{this.taskDescription}}</p>
                            </td>

                            <!-- Task Deadline -->
                            {{#if this.taskActive}}
                                {{#if this.isOverdue}}
                                    <td class="col-xs-2" id="taskDeadline" ><span class="label label-warning">{{this.date}}</span></td>
                                {{else}}
                                    <td class="col-xs-2" id="taskDeadline" >{{this.date}}</td>
                                {{/if}}
                            {{/if}}

                            {{#unless this.taskActive}}
                                <td class="col-xs-2" id="taskDeadline" >Completed</td>
                            {{/unless}}

                            <!-- Update Button -->

                            {{#if this.taskActive}}
                                <td class="col-xs-1" id="taskActive">
                                    <a href="/task/details/{{this.id}}">
                                        <button class="btn-sm btn-primary">
                                            Update
                                        </button>
                                    </a>
                                </td>
                            {{/if}}

                            {{#unless this.taskActive}}
                                <td class="col-xs-1" id="taskActive">
                                    <a href="/task/details/{{this.id}}">
                                        <button class="btn-sm btn-success">
                                            View
                                        </button>
                                    </a>
                                </td>
                                </td>
                            {{/unless}}
                        </tr>
                    {{/each}}
                </table>

                <!--  Back Button -->
                <div class="section">
                    <a href="/project/list">
                        <button class="btn btn-default pull-right">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            Back to All Projects
                        </button>
                    </a>
                </div>
            </div>
        </div>
    {{/if}}
</main>