
<div class="container">

    <!-- Add Content Buttons -->
    <div class="well">
        <a href="/project/create">
            <button class="btn btn-default btn-sm">New Project</button>
        </a>
        <a href="/customer/create">
            <button class="btn btn-default btn-sm">New Customer</button>
        </a>
    </div>

    <!-- Left Section -->
    <div class="col-lg-2 well section">
        <div class="col-lg-1">
            <span class="label label-danger">{{this.day}}</span>
            {{this.month}}.{{this.year}}
        </div>
        <div class="col-lg-1">
            {{this.projectTeam.teamName}}
        </div>
    </div>

    <!-- Right Section -->
    <div class="col-lg-10 section">

        <!-- Project Name -->
        <div class="">
            <h3>{{this.projectName}}</h3>
            <p>
                {{this.projectCustomer.customerName}}  |  {{this.date}}
            </p>
        </div>

        <!-- Data Squares -->
        <div class="text-uppercase">
            <div class="info-squares">
                Project Price
                <h5>$ {{this.projectPrice}}</h5>
            </div>

            <div class="info-squares">
                Hours spent
                <h5>{{this.projectWorkingHours}}</h5>
            </div>

            <div class="info-squares white">
                Status
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         aria-valuenow=""
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 22%">
                    </div>
                </div>
                25%
            </div>

            <div class="info-squares">
                Hours provision
                <h5>{{this.projectPrice}}</h5>
            </div>

            <div class="info-squares">
                Other expences
                <h5>$ {{this.projectExpenses}}</h5>
            </div>

            <div class="info-squares">
                Spent money
                <h5>{{this.projectPrice}}</h5>
            </div>

            <div class="info-squares red">
                Total Price
                <h5>{{this.projectPrice}}</h5>
            </div>
        </div>

        <!-- Project Name -->
        <div class="section">
            <h5>Description</h5>
            <p>
                Am if number no up period regard sudden better.
                Decisively surrounded all admiration and not you.
                Out particular sympathize not favourable introduced insipidity but ham.
                Rather number can and set praise. Distrusts an it contented perceived attending oh.
                Thoroughly estimating introduced stimulated why but motionless.
            </p>
            <div class="btn btn-xs btn-default">Show More</div>
        </div>

        <div class="table">
            <h5>Tasks</h5>
            <!-- Table Closed Projects -->
            <table class="table" id="activeProjectsTable">

                <!-- Table Head -->
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>

                <!-- Table Data -->
                {{#each projectTasks}}
                        <tr>
                            <!-- Task Name -->
                            <td class="" id="taskName"><h6>{{this.taskName}}</h6></td>

                            <!-- Task Description -->
                            <td class="" id="taskDescription">{{this.taskDescription}}</td>

                            <!-- Task Deadline -->
                            <td class="" id="taskDeadline">{{this.date}}</td>

                            <!-- Task Status -->
                            <td class="" id="taskActive">{{this.taskActive}}</td>

                            <!-- Details Button -->
                            <td>
                                <a href="/project/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                            </td>
                        </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
