<main>

    <div class="container">
        <!-- Add Content Buttons -->


    {{#if isAdmin}}

        <a href="/project/create">
            <button class="btn btn-default btn-sm">New Project</button>
        </a>
        <a href="/customer/create">
            <button class="btn btn-default btn-sm">New Customer</button>
        </a>
        <a href="/team/create">
            <button class="btn btn-default btn-sm">Create Team</button>
        </a>
    </div>
    {{/if}}

    <!-- Left Section -->
    <row>
        <div class="col-lg-3 well section">
            <div class="col-lg-6">
                <h4><span class="label label-danger">{{project.day}}.{{project.month}}</span></h4>
                {{project.year}}
            </div>
        </div>
        </row>

        <row>
            <!--TODO: circle view-->
        </row>

    <!-- Right Section -->
        <div class="col-lg-9 section">

            <!-- Project Name -->
            <div class="">
                <h3>{{project.projectName}}</h3>
                <p>
                    {{project.projectCustomer.customerName}}  |  {{project.date}}
                </p>
            </div>

            <!-- Data Squares -->
        {{#if isAdmin}}
            <div class="text-uppercase">
                <div class="info-squares">
                    Project Price
                    <h5>$ {{project.projectPrice}}</h5>
                </div>

                <div class="info-squares">
                    Hours spent
                    <h5>{{project.projectWorkingHours}}</h5>
                </div>

                <div class="info-squares white">
                    Status
                    <div class="progress">
                        <div class="progress-bar"
                             role="progressbar"
                             aria-valuenow=""
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: 22%">
                        </div>
                    </div>
                    25%
                </div>

                <div class="info-squares">
                    Hours provision
                    <h5>{{project.projectPrice}}</h5>
                </div>

                <div class="info-squares">
                    Other expenses
                    <h5>$ {{project.projectExpenses}}</h5>
                </div>

                <div class="info-squares">
                    Spent money
                    <h5>{{project.projectPrice}}</h5>
                </div>

                <div class="info-squares red">
                    Total Price
                    <h5>{{project.projectPrice}}</h5>
                </div>
            </div>

            <!-- Project Name -->
            <div class="section">
                <h5>Description</h5>
                <p>
                    Am if number no up period regard sudden better.
                    Decisively surrounded all admiration and not you.
                    Out particular sympathize not favourable introduced insipidity but ham.
                    Rather number can and set praise. Distrusts an it contented perceived attending oh.
                    Thoroughly estimating introduced stimulated why but motionless.
                </p>
                <div class="btn btn-xs btn-default center">Show More</div>
            </div>
        {{/if}}

            <div class="table">
                <h5>Project Tasks</h5>
                <!-- Table Closed Projects -->
                <table class="table" id="activeProjectsTable">

                    <!-- Table Head -->
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>

                    <!-- Table Data -->
                    {{#each project.projectTasks}}
                        <tr>
                            <!-- Task Name -->
                            <td class="" id="taskName"><h6>{{this.taskName}}</h6></td>

                            <!-- Task Description -->
                            <td class="" id="taskDescription">{{this.taskDescription}}</td>

                            <!-- Task Deadline -->
                            {{#if this.isOverdue}}
                            <td class="alert-warning" id="taskDeadline" >{{this.date}}</td>
                            {{/if}}

                            {{#unless this.isOverdue}}
                                <td class="" id="taskDeadline" >{{this.date}}</td>
                            {{/unless}}

                            <!-- Task Status -->
                            {{#if this.taskActive}}
                            <td class="" id="taskActive">Active</td>
                            {{/if}}

                            {{#unless this.taskActive}}
                                <td class="" id="taskActive">Closed</td>
                            {{/unless}}

                            <!-- Details Button -->
                            <td>
                                <a href="/project/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</main>