<script>
    $( document ).ready(function() {
        $(".setsize").each(function() {
            $(this).height($(this).width());
        });
    });
    $(window).on('resize', function(){
        $(".setsize").each(function() {
            $(this).height($(this).width());
        });
    });

    $(document).ready(function() {
        $("#shortDescription").show();
        $("#longDescription").hide();

        $("#showMoreButton").click(function(){
                    $("#shortDescription").hide();
                    $("#longDescription").show();
        });

        $("#showLessButton").click(function(){
            $("#shortDescription").show();
            $("#longDescription").hide();
        });
    });

    function cancelProject () {

        let projectId = $("#cancelProject").val();
        let url = '/project/cancel/' + projectId;

        if(confirm("Are you sure you want to cancel this project?")){
            $.post(url, {cancel: true}, function () {
            });
            window.location.replace('/project/list')
        }
        else{
            return false;
        }
    };

</script>

<main>
{{#if user}}
    <!-- Content -->
    <div class="container">

        <!-- Left Section -->
        <div class="col-md-3 col-sm-6 section">

            <!--  Circle Progress  -->
            <hr>
            <div class="section">
                <div class="progress-radial progress-{{project.projectProgressRounded}} setsize">
                    <div class="overlay setsize">
                        <p>{{project.projectProgress}}%</p>
                    </div>
                </div>
            </div>
            <hr>

            <!--  Project Details List Group -->
            <div class="list-group">
                <div class="list-group-item active">
                    Project Details
                </div>

                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-hourglass"></span>
                    {{project.date}}
                </a>

                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-user"></span>
                    {{project.projectTeam.teamName}}
                </a>

                <a href="#tasksTable" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Project Tasks <span class="badge">{{project.taskCount}}</span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Project Commits <span class="badge">{{project.commits}}</span>
                </a>
            </div>

            <!--  Client Details  -->
            <div class="section col-xs-12 well">

                <h5>{{project.projectCustomer.customerName}}</h5>
                <hr>

                <!--  Name  -->
                <span class="glyphicon glyphicon-user"></span>
                {{project.projectCustomer.customerName}}
                <br>

                <!--  Address  -->
                <span class="glyphicon glyphicon-map-marker"></span>
                {{project.projectCustomer.customerAddress}}
                <br>

                <!--  Phone  -->
                <span class="glyphicon glyphicon-earphone"></span>
                {{project.projectCustomer.customerPhone}}
                <br>

                <!--  Email  -->
                <span class="glyphicon glyphicon-envelope"></span>
                <a href="#">{{project.projectCustomer.customerEmail}}</a>
            </div>
        </div>

        <!-- Right Section -->
        <div class="col-md-9 col-sm-6 section">
            <div class="row">

                <!-- Project Name + Client -->
                <div class="col-md-8">
                    <h3>{{project.projectName}}</h3>
                    <p>{{project.projectCustomer.customerName}}  |  {{project.date}}</p>
                </div>

                <!-- Cancel Project Button -->
                <div class="col-md-4">
                    {{#if isAdmin}}
                        {{#if project.projectActive}}
                            <button id="cancelProject" class="btn btn-default" onclick="cancelProject()" value="{{project.id}}">
                                <span class="glyphicon glyphicon-remove"></span>
                                Cancel Project
                            </button>
                        {{/if}}
                    {{/if}}
                    {{#if project.projectActive}}
                        <a href="/project/expenses/{{project.id}}">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-usd"></span>
                                Manage Expenses
                            </button>
                        </a>
                    {{/if}}
                </div>
                <!-- Project Description Short-->
                <div id="shortDescription" class="col-sm-12">
                    <hr>
                    <h5>Description</h5>
                    <p>{{project.projectDescriptionShort}}</p>
                    <button id="showMoreButton" class="btn btn-xs btn-default center">Show More</button>
                </div>

                <!-- Project Description Long-->
                <div id="longDescription" class="col-sm-12" hidden>
                    <hr>
                    <h5>Description</h5>
                    <p>{{project.projectDescription}}</p>
                    <button id="showLessButton" class="btn btn-xs btn-default center">Show less</button>
                </div>
            </div>
        </div>

        <!-- Data Squares -->
        <div class="section">
            <div class="col-md-9 col-sm-12">
                {{#if isAdmin}}
                    <div class="text-uppercase">
                        <hr>
                        <div class="col-xs-12">

                            <p>Declared Budget</p>
                            <div class="info-squares">
                                Time Planned
                                <h5>{{project.projectWorkingHours}} <span class="small">/ hrs</span></h5>
                            </div>

                            <div class="info-squares ">
                                Labour cost
                                <h5>$ {{project.labourCostPlanned}}</h5>
                            </div>

                            <div class="info-squares">
                                Planned expenses
                                <h5>$ {{project.projectExpenses}}</h5>
                            </div>

                            <div class="info-squares white">

                            </div>

                            <div class="info-squares">
                                Project Price
                                <h5>$</span> {{project.projectPrice}}</h5>
                            </div>

                        </div>

                        <div class="col-xs-12">

                            <p>Actual Project Cost</p>
                            <div class="info-squares">
                                Actual Time
                                <h5>{{project.actualHours}}  <span class="small">/ hrs</span></h5>
                            </div>

                            <div class="info-squares">
                                Current Labour Cost
                                <h5>$ {{project.projectLaborCost}}</h5>
                            </div>

                            <div class="info-squares">
                                Actual expenses
                                <h5>$ {{project.actualExpenses}}</h5>
                            </div>

                            <div class="info-squares white">
                                Progress
                                <div class="progress" style="width: 100%">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         aria-valuenow=""
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width: {{project.projectProgress}}%;">
                                    </div>
                                </div>
                                <h5>{{project.projectProgress}}%</h5>
                            </div>

                            <div class="info-squares red">
                                Total Cost
                                <h5>$ {{project.totalCost}}</h5>
                            </div>

                        </div>

                    </div>
                {{/if}}
            </div>
        </div>


        <!--  Tasks  -->
        <div class="col-sm-12 col-md-9">
            <div class="section">
                <!--  Tasks Table -->
                <h5>Project Tasks</h5>
                <table class="table table-responsive" id="tasksTable">

                    <!-- Table Head -->
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Details</th>
                    </tr>

                    <!-- Table Data -->
                    {{#each project.projectTasks}}
                        <tr>

                            <!-- Task Status -->
                            {{#if this.taskActive}}
                                <td class="col-lg-1" id="taskActive">
                                    <span class="glyphicon glyphicon-star glyphicon-active"></span>
                                    <!--<h6><small>ative</small></h6>-->
                                </td>
                            {{/if}}

                            {{#unless this.taskActive}}
                                <td class="col-lg-1" id="taskActive">
                                    <span class="glyphicon glyphicon-ok glyphicon-done"></span>
                                </td>
                            {{/unless}}

                            <!-- Task Name -->
                            <td class="col-lg-2" id="taskName"><h6>{{this.taskName}}</h6></td>

                            <!-- Task Description -->
                            <td class="col-lg-6" id="taskDescription">
                                <p>{{this.taskDescription}}</p>
                            </td>

                            <!-- Task Deadline -->
                            {{#if this.isOverdue}}
                                <td class="col-lg-2 alert-warning" id="taskDeadline" >{{this.date}}</td>
                            {{/if}}

                            {{#unless this.isOverdue}}
                                <td class="col-lg-1" id="taskDeadline" >{{this.date}}</td>
                            {{/unless}}

                            <!-- Update Button -->

                            {{#if this.taskActive}}
                                <td class="col-lg-1" id="taskActive">
                                    <a href="/task/details/{{this.id}}">
                                        <button class="btn-sm btn-primary">
                                            Update
                                        </button>
                                    </a>
                                </td>
                            {{/if}}

                            {{#unless this.taskActive}}
                                <td class="col-lg-1" id="taskActive">
                                    <a href="/task/details/{{this.id}}">
                                        <button class="btn-sm btn-success">
                                            View
                                        </button>
                                    </a>
                                </td>
                                </td>
                            {{/unless}}
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        <!--  Back Button  -->
        <div class="container section">
            <a href="/project/list">
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Back to All Projects
                </button>
            </a>
        </div>


    </div>
{{/if}}
</main>