<script>
    $(document).ready(function () {
        $('#newExpenseButton').click(function () {
        $('#expenseAddForm').removeAttr('hidden');
        })
    });
</script>


<main>
    {{#if user}}
        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li><a href="/project/details/{{project.id}}">{{project.projectName}}</a></li>
            <li class="active">Manage Expenses</li>
        </ol>

        <div class="container">

            <div class="page-header">
                <h1>Project Expenses</h1>
            </div>

            <div class="col-sm-12">

                <!-- Add New Expense -->
                <div class="section">

                    <!-- Add Button -->
                    <button id="newExpenseButton" class="btn btn-primary">New Expense</button>

                    <div class="row">

                        <form id="expenseAddForm" hidden class="form-horizontal section " method="post" action="/project/expenses/create/{{project.id}}">

                            <!-- Expense Description -->
                            <div class="col-xs-5">
                                <label class="control-label" for="description">Description</label>
                                <input class="form-control" id="description" type="text" name="description" required>
                            </div>


                            <!-- Expense Date -->
                            <div class="col-xs-3">
                                <label class="control-label" for="date">Date</label>
                                <input class="form-control" id="date" type="date" name="date" required>
                            </div>

                            <!-- Expense Amount -->
                            <div class="col-xs-2">
                                <label class="control-label" for="amount">Amount</label>
                                <input class="form-control" id="amount" type="number" name="amount" required>
                            </div>

                            <!-- Submit -->
                            <div class="col-xs-2">
                                <label class="control-label invisible" for="amount">Amount</label><br>
                                <button type="submit" class="btn btn-primary" id="expenseAdd" style="margin-top: -1px">Add</button>
                            </div>

                        </form>
                     </div>
                </div>

                <!-- Table Active Projects -->
                <table class="table" id="projectExpensesTable">

                    <!-- Table Head -->
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th class="text-right">Amount</th>
                    </tr>

                    <!-- Table Data -->
                    {{#each project.projectExpensesActual}}
                        <tr>

                            <!-- Expense Date -->
                            <td class="col-xs-2" id="expenseDate">
                                <p>{{this.formattedDate}}</p>
                            </td>

                            <!-- Expense Description -->
                            <td class="col-xs-6" id="expenseDescription">
                                <h5>{{this.description}}</h5>
                            </td>

                            <!-- Expense Amount -->
                            <td class="col-xs-4 text-right" id="expenseAmount">
                                <h4>$ {{this.amount}}</h4>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>

            <!--  Back Button  -->
            <a href="/project/details/{{project.id}}">
                <button class="btn btn-default pull-right" style="margin-bottom: 20px;">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Back to Project
                </button>
            </a>

        </div>
    {{/if}}
</main>