<!-- Filter Scripts -->
<script>
    function myFunction(projectType, inputType) {

        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById(inputType);
        filter = input.value.toUpperCase();
        table = document.getElementById(projectType);
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    <!-- Popover Script -->
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>

<main>

    <ol class="container breadcrumb transparent">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

    <!-- Add Content Buttons -->
    {{#if isAdmin}}
        <div class="container">
            <div class="row">
                <a class="btn btn-default btn-sm" href="/project/create"><span class="glyphicon glyphicon-plus"></span> New Project</a>
                <a class="btn btn-default btn-sm" href="/customer/create"><span class="glyphicon glyphicon-plus"></span>New Customer</a>
                <a class="btn btn-default btn-sm" href="/team/create"><span class="glyphicon glyphicon-user"></span>Create Team</a>
            </div>
        </div>
    {{/if}}

    <div class="container">

        <!-- Left Section -->
        <div class="container col-lg-3 section">
            <div class="list-group">
                <div class="list-group-item active">
                    Recent
                </div>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Active Projects <span class="badge">23</span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Closed Projects <span class="badge">64</span>
                </a>
            </div>
            
        </div>

        <!-- Right Section -->
        <div class="col-lg-9 section">

            <!-- Tab Names -->
            <ul class="nav nav-tabs ">
                <li class="nav-item active">
                    <a href="#activeProject" aria-controls="activeProject" role="tab" data-toggle="tab">
                        <h5>Active Projects</h5>
                    </a>
                </li>

                <li class="nav nav-item">
                    <a href="#closedProjects" aria-controls="closedProjects" role="tab" data-toggle="tab">
                        <h5>Closed Projects</h5>
                    </a>
                </li>
            </ul>

            <!-- Tab Views -->
            <div class="tab-content">

                <!-- Active Projects Tab -->
                <div role="tabpanel" class="tab-pane fade in active" id="activeProject">

                    <!-- Filters and Stuff -->
                    <div class="filters-container">
                        <div class="input-group input-group-lg">
                            <label class="sr-only" for="myInputActive"></label>
                            <input class="form-control" type="text" id="myInputActive" onkeyup="myFunction('activeProjectsTable', 'myInputActive')" placeholder="Search">
                        </div>
                    </div>

                    <!-- Table Active Projects -->
                    <table class="table" id="activeProjectsTable">

                        <!-- Table Head -->
                        <tr>
                            <th>Priority</th>
                            <th>Project name/ Customer</th>
                            <th>Progress</th>
                            <th>Team</th>
                            <th>Due date</th>
                            <th>Details</th>
                        </tr>

                        <!-- Table Data -->
                        {{#each projects}}
                            {{#if this.projectActive}}
                                <tr>

                                    <!-- Flag -->
                                    <td class="text-center" id="flag">
                                        <span class="glyphicon glyphicon-flag glyphicon-done"></span>
                                    </td>

                                    <!-- Project Name -->
                                    <td class="" id="projectName">
                                        <h6><strong>{{this.projectName}}</strong></h6>
                                        <p>{{this.projectCustomer.customerName}}</p>
                                    </td>
                                    <!-- Project Progress -->
                                    <td class="" id="projectProgress">{{this.projectProgress}}%
                                        <div class="progress">
                                            <div class="progress-bar"
                                                 role="progressbar"
                                                 aria-valuenow="{{this.projectProgress}}"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"
                                                 style="width: {{this.projectProgress}}%;">
                                            </div>
                                        </div>
                                    </td>

                                    <!-- Project Team -->
                                    <td class="" id="projectTeam">
                                        {{this.projectTeam.teamName}}
                                    </td>

                                    <!-- Project Due date -->
                                    <td class="" id="projectDueDate">
                                        <span class=""><span class="glyphicon glyphicon-hourglass"></span>{{this.date}}</span>
                                    </td>

                                    <!-- Details Button -->
                                    <td>
                                        <a href="/project/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                    </table>
                </div>

                <!-- Closed Projects Tab -->
                <div role="tabpanel" class="tab-pane fade" id="closedProjects">

                    <!-- Filters and Stuff -->
                    <div class="filters-container input-group-lg">
                        <div class="input-group input-group-lg">
                            <label class="sr-only" for="myInputClosed"></label>
                            <input class="form-control" type="text" id="myInputClosed" onkeyup="myFunction('closedProjectsTable', 'myInputClosed')" placeholder="Search" >
                        </div>
                    </div>

                    <!-- Table Closed Projects -->
                    <table class="table" id="closedProjectsTable">

                        <!-- Table Head -->
                        <tr>
                            <th>Project name/ Customer</th>
                            <th>Status</th>
                            <th>Team</th>
                            <th>Date Closed</th>
                            <th>Details</th>
                        </tr>

                        <!-- Table Data -->
                        {{#each projects}}
                            {{#unless this.projectActive}}
                                <tr>
                                    <!-- Project Name -->
                                    <td class="" id="projectName">
                                        <h4>{{this.projectName}}</h4>
                                        <h6>{{this.projectCustomer.customerName}}</h6>
                                    </td>

                                    <!-- Status -->
                                    <td class="" id="projectStatus">{{this.projectStatus}}

                                    </td>

                                    <!-- Project Team -->
                                    <td class="" id="projectTeam">{{this.projectTeam.teamName}}</td>


                                    <!-- Date Closed -->
                                    <td class="" id="projectDueDate">
                                        <span class="date"><time datetime="">{{this.date}}</time></span>
                                    </td>

                                    <!-- Details Button -->
                                    <td>
                                        <a href="/project/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                                    </td>
                                </tr>
                            {{/unless}}
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>