<script>0
    $(document).ready(function(e){
        $(".img-check").click(function(){
            $(this).toggleClass("check");
            $(this).find("#checkbox").attr('checked');
        });
    });

    $(document).ready(function(){
        $(".occupation").click(function(){
            let occupation = $(this).text().trim();

            if (occupation == "All Users") {
                $(".row").children().show();
            } else {
                $(".row").children().hide();
                $(".row").find("p:contains(" + occupation + ")").parent().parent().parent().parent().show();
            }
        })
    });
</script>

<main>
    {{#if user}}
        <!--  Breadcrumbs  -->
        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li class="active">All Users</li>
        </ol>


            <!--  Body  -->
            <div class="container">

                <div class="page-header">
                    <h1>User Profiles</h1>
                </div>

                <!-- Left Section -->
                <div class="col-sm-3 section">

                    <!--  Filter  -->
                    <div class="list-group">

                        <div class="list-group-item">
                            <a href="" onclick="return false" id="filter" class="occupation">
                                All Users</a> <span class="badge">{{users.count}}</span>
                        </div>
                        {{#each professionsCount}}
                            <div class="list-group-item">
                                <a href="" onclick="return false" id="filter" class="occupation">
                                    {{this.profession}}
                                </a> <span class="badge">{{this.count}}</span>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <!-- Right Section -->
                <div class="col-sm-9 section">

                    <!--  All Users List  -->
                    <div class="row">

                        {{#each users}}
                            <div class="col-lg-4 col-md-4 col-xs-6 profileCard">
                                <div class="thumbnail">
                                    <div class="caption well">
                                        <img class="center-block" src="/images/userProfilePictures/{{this.picture}}">

                                    <div class="caption">
                                        <!--  Layer Over  -->
                                        <a href="/userViews/details/{{this.id}}">
                                            <div class="thumbnail-over">
                                                <p>View Profile</p>
                                            </div>
                                        </a>
                                        <h6 class="text-center">{{this.fullName}}</h6>
                                        <p class="text-center">{{this.occupation.occupationName}}</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</main>