<script>
    $(document).ready(function(e){
        $(".img-check").click(function(){
            $(this).toggleClass("check");
        });
    });
</script>

<main>
    <!--  Body  -->
    <div class="container">

        <!-- Left Section -->
        <div class="container col-md-3 section">
            <div class="list-group">
                <div class="list-group-item active">
                    Filter by Profession
                </div>
                <a href="#" class="list-group-item">
                    Designers <span class="badge">23</span>
                </a>
                <a href="#" class="list-group-item">
                    Programers <span class="badge">64</span>
                </a>
                <a href="#" class="list-group-item">
                    Another One <span class="badge">64</span>
                </a>
            </div>

        </div>

        <!-- Right Section -->
        <div class="section col-md-9">
            <h3>User Profiles</h3>
            <hr>

            <!-- Filters and Stuff -->
            <div class="filters-container">
                <div class="input-group input-group-lg">
                    <label class="sr-only" for="myInputActive"></label>
                    <input class="form-control" type="text" id="myInputActive" onkeyup="myFunction('activeProjectsTable', 'myInputActive')" placeholder="Find User">
                </div>
            </div>

            <!--  Users  -->
            <div class="row">
                <form method="post" action="/">
                    {{#each users}}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail img-check">
                                <img class="img-tumbnails" src="/images/lora.jpg">
                                <div class="caption">
                                    <h5 class="text-center">{{this.fullName}}</h5>
                                    <p class="text-center">{{this.occupation.occupationName}}</p>
                                </div>
                                <!--  View More Button  -->
                                <!--<a href="/userViews/details/{{this.id}}" class="btn btn-default center-block">View Profile</a>-->
                            </div>
                        </div>
                    {{/each}}
                    <div class="col-lg-12">
                        <input type="submit" value="Done" class="btn btn-success pull-right">
                    </div>
                </form>
            </div>

            <!--  Users Two  -->
            <div class="row">
                    {{#each users}}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="thumbnail">

                                <img class="img-tumbnails" src="/images/lora.jpg">
                                <div class="caption">
                                    <!--  Layer Over  -->
                                    <a href="/userViews/details/{{this.id}}">
                                        <div class="thumbnail-over">
                                            <p>View Profile</p>
                                        </div>
                                    </a>
                                    <h6 class="text-center">{{this.fullName}}</h6>
                                    <p class="text-center">{{this.occupation.occupationName}}</p>
                                </div>


                                <!--  View More Button  -->
                                <!--<a href="/userViews/details/{{this.id}}" class="btn btn-default center-block">View Profile</a>-->
                            </div>
                        </div>
                    {{/each}}

            </div>


            <!--  All Users Old  -->
            <!-- <div class="section well">
            <div class="row">
                {{#each users}}
                    <div class="col-lg-4">
                        <div class="profile-well">
                            <div class="section">
                                <img class="img img-circle center-block" src="/images/lora.jpg">
                            </div>

                            <div class="section">
                                <h5 class="text-center">{{this.fullName}}</h5>
                                <p class="text-center">{{this.profession}}Designer</p>
                            </div>

                            <a href="/userViews/userProfile/{{this.id}}" class="btn btn-default center-block">View Profile</a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>-->

        </div>

    </div>

</main>