<script>
    $(document).ready(function(e){
        $(".img-check").click(function(){
            $(this).toggleClass("check");
        });
    });
</script>

<main>
    <!--  Body  -->
    <div class="container">

        <!-- Left Section -->
        <div class="container col-lg-3 section">
            <div class="list-group">
                <div class="list-group-item active">
                    Filter by Profession
                </div>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Designers <span class="badge">23</span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Programers <span class="badge">64</span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Another One <span class="badge">64</span>
                </a>
            </div>

        </div>

        <!-- Right Section -->
        <div class="section col-lg-9">
            <h3>User Profiles</h3>
            <hr>

            <!-- Filters and Stuff -->
            <div class="filters-container">
                <div class="input-group input-group-lg">
                    <label class="sr-only" for="myInputActive"></label>
                    <input class="form-control" type="text" id="myInputActive" onkeyup="myFunction('activeProjectsTable', 'myInputActive')" placeholder="Find User">
                </div>
            </div>

            <!--  User Profiles  -->
           <!-- <div class="row">
                {{#each users}}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">

                            <img class="img img-circle center-block" src="/images/lora.jpg">

                            <div class="caption">
                                <h5 class="text-center">{{this.fullName}}</h5>
                                <p class="text-center">{{this.profession}}Designer</p>
                            </div>

                            <a href="/userViews/userProfile/{{this.id}}" class="btn btn-default center-block">View Profile</a>
                        </div>
                    </div>
                {{/each}}
            </div>-->

            <div class="row">
                <form method="get">
                    {{#each users}}
                        <div class="col-md-4">
                            <div class="thumbnail img-check">

                                <img class="img-tumbnails" src="/images/lora.jpg">

                                <div class="caption">
                                    <h5 class="text-center">{{this.fullName}}</h5>
                                    <p class="text-center">{{this.profession}}Designer</p>
                                </div>

                                <!--<input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">-->

                                <a href="/userViews/details/{{this.id}}" class="btn btn-default center-block">View Profile</a>
                            </div>
                        </div>
                    {{/each}}
                    <div class="col-lg-12">
                        <input type="submit" value="Done" class="btn btn-success pull-right">
                    </div>
                </form>
            </div>

            <!--  Check Gude  -->
            <!--<div class="row">
                <form method="get">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="btn btn-primary">
                                <img src="/images/lora.jpg" alt="..." class="img-thumbnail img-check">
                                <input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="btn btn-primary">
                                <img src="/images/lora.jpg" alt="..." class="img-thumbnail img-check">
                                <input type="checkbox" name="chk2" id="item4" value="val2" class="hidden" autocomplete="off">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="btn btn-primary">
                                <img src="/images/lora.jpg" alt="..." class="img-thumbnail img-check">
                                <input type="checkbox" name="chk3" id="item4" value="val3" class="hidden" autocomplete="off">
                            </label>
                        </div>
                        <div class="col-md-3"><label class="btn btn-primary">
                            <img src="/images/lora.jpg" alt="..." class="img-thumbnail img-check">
                            <input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off">
                        </label>
                        </div>
                    </div>
                    <input type="submit" value="Check Item" class="btn btn-success">

                </form>
            </div>-->


            <!--  All Users Old  -->
           <!-- <div class="section well">
            <div class="row">
                {{#each users}}
                    <div class="col-lg-4">
                        <div class="profile-well">
                            <div class="section">
                                <img class="img img-circle center-block" src="/images/lora.jpg">
                            </div>

                            <div class="section">
                                <h5 class="text-center">{{this.fullName}}</h5>
                                <p class="text-center">{{this.profession}}Designer</p>
                            </div>

                            <a href="/userViews/userProfile/{{this.id}}" class="btn btn-default center-block">View Profile</a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>-->

        </div>

    </div>

</main>