
<main>
    {{#if user}}
    <div class="container">

        <!--  User Picture - Left Side -->
        <!--<div class="col-md-3 col-sm-4 section">
            <img class="img-responsive" src="/images/lora.jpg">
            <hr>
            <div class="section">
                <form>
                    <div class="form-group">
                        <label for="addPicture"><p>Change account picture</p></label>
                        <input type="file" id="addPicture">
                    </div>
                </form>
            </div>

        </div>-->

        <!--  User Data - Left Side -->
        <div class="col-sm-6 section">


            <div class="container-border col-xs-12 section">

                <!--  Picture  -->
                <img class="img-user" src="/images/userProfilePictures/{{userData.picture}}">

                <form class="form-inline" action="/picture/upload" method="POST" enctype="multipart/form-data">

                    <div class="col-xs-8">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <label for="upload-photo">Change account picture</label>
                        <input type="file" name="image" id="upload-photo">
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn-sm btn-primary pull-right">Upload</button>
                    </div>

                </form>

                <!--  Profile Info  -->

                <div class=" col-xs-12 section">
                    <!--  Name  -->
                    <h3>{{user.fullName}}</h3><hr>

                    <!--  User Info  -->
                    <p>
                        <span class="glyphicon glyphicon-earphone"></span>
                        {{user.phone}}<button class="btn-sm btn-default pull-right">Edit</button><hr>

                        <span class="glyphicon glyphicon-envelope"></span>
                        {{user.email}}<button class="btn-sm btn-default pull-right">Edit</button><hr>

                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{user.address}}<button class="btn-sm btn-default pull-right">Edit</button>
                    </p>
                </div>
            </div>
        </div>

        <!--  User Additional - Right Side -->
        <div class="col-sm-6 section">

            <!--  User Projects  -->
            <div class="container-border section">
                <div class="well">
                    <h3>My Projects</h3>
                    <hr>

                    <!--  Projects List  -->
                    <p>
                    {{#each selectedProjects}}
                        <span class="glyphicon glyphicon-star"></span>
                        {{this.projectName}}<button class="btn-sm btn-default pull-right">View</button><hr>
                    {{/each}}
                    </p>
                </div>
            </div>

            <!--  User Teams  -->
            <div class="container-border section">
                <div class="well">
                    <h3>My Teams</h3>
                    <hr>

                    <!--  Teams List  -->
                    <p>
                        <span class="glyphicon glyphicon-user"></span>
                        First Team Name<button class="btn-sm btn-default pull-right">View</button><hr>

                    <span class="glyphicon glyphicon-user"></span>
                    Another Team Name<button class="btn-sm btn-default pull-right">View</button><hr>

                </div>
            </div>
        </div>
    </div>
    {{/if}}
</main>