<script>

    $(document).ready(function () {
        $('.editButton').click(function () {
            $('.saveButton').removeAttr('disabled');
            $('#inputAddress').removeAttr('disabled');
            $('#inputEmail').removeAttr('disabled');
            $('#inputPhone').removeAttr('disabled');
        })
    });

    $(document).ready(function () {
        $('.saveButton').click(function () {

            let phone = $('#inputPhone').val();
            let email = $('#inputEmail').val();
            let address = $('#inputAddress').val();


            let url = '/user/edit/';

            $.post(url,
                    {
                        phone : phone,
                        email: email,
                        address: address
                    }, function () {
                    });

            location.href = '/userViews/profile/';
        })
    })

</script>



<main>
    {{#if user}}

    <ol class="container breadcrumb transparent">
        <li><a href="/project/list">Home</a></li>
        <li class="active">My Profile</li>
    </ol>

    <div class="container">

        <!--  User Data - Left Side -->
        <div class="col-sm-4 section">

            <div class="container-border col-xs-12 section">

                <!--  Picture  -->
                <img class="img-user" src="/images/userProfilePictures/{{userData.picture}}">

                <form class="form-inline" action="/picture/upload" method="POST" enctype="multipart/form-data">

                    <div class="col-xs-8">
                        <!--<span class="glyphicon glyphicon-folder-open"></span>
                        <label for="upload-photo">Change account picture</label>-->
                        <input type="file" name="image" id="upload-photo">
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn-sm btn-primary pull-right">Upload</button>
                    </div>

                </form>

                <!--  Profile Info  -->

                <div class=" col-xs-12 section">
                    <!--  Name  -->
                    <h3>{{user.fullName}}</h3><hr>

                    <!--  User Info  -->
                    <p>
                    <div class="form-group form-inline">
                        <div class="">
                            <span class="glyphicon glyphicon-earphone " ></span>
                            <input id="inputPhone" class="form-control" type="text" disabled value="{{user.phone}}"/>
                        </div>

                        <div class="">
                             <span class="glyphicon glyphicon-envelope"></span>
                            <input id="inputEmail" class="form-control" type="text" disabled value="{{user.email}}"/>
                        </div>

                        <div class="">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <input id="inputAddress" class="form-control" type="text" disabled value="{{user.address}}"/>

                        </div>
                        <br/>
                        <div >
                            <span class="pull-left"> <!--  To be center  -->
                                <button class="btn-sm btn-default pull-right saveButton" disabled>Save</button>
                                <button class="btn-sm btn-default pull-right editButton">Edit</button>
                            </span>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>

        <!--  User Additional - Right Side -->
        <div class="col-sm-8 section">

            <!--  User Projects  -->
            <div class="container-border section">
                <div class="well">
                    <h3>My Projects</h3>
                    <hr>

                    <!--  Projects List  -->
                    <p>
                    {{#each projects}}
                        <span class="glyphicon glyphicon-star"></span>
                        {{this.projectName}}<a href="/project/details/{{this.id}}" class="btn-sm pull-right">
                        View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                    <hr>
                    </p>
                    {{/each}}
                </div>
            </div>

            <!--  User Teams  -->
            <div class="container-border section">
                <div class="well">
                    <h3>My Teams</h3>
                    <hr>

                    <!--  Teams List  -->
                    <p>
                    {{#each teams}}
                        <span class="glyphicon glyphicon-star"></span>
                        {{this.teamName}}<a href="/team/details/{{this.id}}" class="btn-sm pull-right">
                        View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                    <hr>
                    </p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</main>