<script>

    $(document).ready(function () {
        $('.editButton').click(function () {
            $('.saveButton').removeAttr('disabled').removeClass('btn-default').addClass('btn-primary');
            $('#inputAddress').removeAttr('disabled');
            $('#inputAddress').parent().parent().addClass('has-success');
            $('#inputEmail').removeAttr('disabled');
            $('#inputEmail').parent().parent().addClass('has-success');
            $('#inputPhone').removeAttr('disabled');
            $('#inputPhone').parent().parent().addClass('has-success');
            $('.editButton').removeClass('btn-primary').addClass('btn-default');
            $('.editButton').attr('disabled', 'true');
        })
    });

    $(document).ready(function () {
        $('.saveButton').click(function () {

            let phone = $('#inputPhone').val();
            let email = $('#inputEmail').val();
            let address = $('#inputAddress').val();


            let url = '/user/edit/';

            $.post(url,
                    {
                        phone : phone,
                        email: email,
                        address: address
                    }, function () {
                    });

            location.href = '/userViews/list/';
            location.href = '/userViews/profile/';
        });
    })

</script>



<main>
    {{#if user}}

    <ol class="container breadcrumb transparent">
        <li><a href="/project/list">Home</a></li>
        <li class="active">My Profile</li>
    </ol>

    <div class="container">

        <div class="page-header">
            <h1>{{user.fullName}}</h1>
        </div>

        <!--  User Data - Left Side -->
        <div class="col-lg-4 col-md-5 col-sm-6">

            <div class="col-xs-12 col-sm-12 col-md-12 container-border section">

                <!--  Picture  -->
                <img class="img-user" src="/images/userProfilePictures/{{userData.picture}}">

                <form class="form-inline" action="/picture/upload" method="POST" enctype="multipart/form-data">

                    <div class="col-xs-8">
                        <!--<span class="glyphicon glyphicon-folder-open"></span>
                        <label for="upload-photo">Change account picture</label>-->
                        <input type="file" name="image" id="upload-photo">
                    </div>
                    <div class="col-xs-4">
                        <div class="pull-right">
                            <button type="submit" class="btn-sm btn-primary pull-right">Upload</button>
                        </div>

                    </div>

                </form>

                <!--  Profile Info  -->
                <div class="col-xs-12 col-sm-12 col-md-12 section">
                    <!--  User Info  -->
                    <form class="form-horizontal well">

                        <div class="form-group">
                            <div for="inputPhone" class="col-xs-1 "><span class="glyphicon glyphicon-earphone glyphicon-bigger"></span></div>
                            <div class="col-xs-11 col-sm-10">
                                <input id="inputPhone" class="form-control input-no-border" type="text" disabled value="{{user.phone}}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div for="inputEmail" class="col-xs-1 "><span class="glyphicon glyphicon-envelope glyphicon-bigger"></span></div>
                            <div class="col-xs-11 col-sm-10">
                                <input id="inputEmail" class="form-control input-no-border" type="text" disabled value="{{user.email}}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div for="inputAddress" class="col-xs-1 "><span class="glyphicon glyphicon-map-marker glyphicon-bigger"></span></div>
                            <div class="col-xs-11 col-sm-10">
                                <input id="inputAddress" class="form-control input-no-border" type="text" disabled value="{{user.address}}"/>
                            </div>
                        </div>
                    </form>

                    <div class="pull-right">
                        <button class="btn-sm btn-default saveButton" disabled>Save</button>
                        <button class="btn-sm btn-primary editButton">Edit</button>
                    </div>
                </div>
            </div>
        </div>

        <!--  User Additional - Right Side -->
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
            <div class="row">

                <!--  User Projects  -->
                <div class="col-sm-12 ">
                    <h4>My Projects</h4>
                    <div class="container-border ">
                        <div class="well white">

                            {{#each projects}}
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    {{this.projectName}}<a href="/project/details/{{this.id}}" class="btn-sm pull-right">
                                    View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                                    <hr>
                                </p>
                            {{/each}}
                        </div>
                    </div>
                </div>


                <!--  User Teams  -->
                <div class="col-sm-12">
                    <h4>My Teams</h4>

                    <div class="container-border ">
                        <div class="well white">

                            {{#each teams}}
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    {{this.teamName}}<a href="/team/details/{{this.id}}" class="btn-sm pull-right">
                                    View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                                    <hr>
                                </p>
                            {{/each}}
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    {{/if}}
</main>