
<!-- Filter Scripts -->
<script>
    function myFunction(projectType, inputType) {

        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById(inputType);
        filter = input.value.toUpperCase();
        table = document.getElementById(projectType);
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    <!-- Popover Script -->
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });

</script>



<!-- Add Content Buttons -->
<div class="container">
    <div class="well">
        <a href="/project/create">
            <button class="btn btn-default btn-sm">New Project</button>
        </a>

        <a href="/customer/create">
            <button class="btn btn-default btn-sm">New Customer</button>
        </a>

        <a href="/team/create">
            <button class="btn btn-default btn-sm">Create Team</button>
        </a>
    </div>
</div>

<!-- Project Tabs  -->
<div class="container">

    <!-- Left (tabs) -->
    <div class="col-lg-2">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#activeProject" aria-controls="activeProject" role="tab" data-toggle="tab"><h2>1</h2>
                    <br>
                    <p>Active Projects</p>
                </a>
            </li>

            <li>
                <a href="#closedProjects" aria-controls="closedProjects" role="tab" data-toggle="tab"><h2>2</h2>
                    <br>
                    <p>Closed Projects</p>
                </a>
            </li>
        </ul>
    </div>

    <!-- Right (Tab Views) -->
    <div class="col-lg-10">

        <div class="tab-content">

            <!-- Active Projects Tab -->
            <div role="tabpanel" class="tab-pane active" id="activeProject">

                <h1>Active Projects</h1>

                <!-- Filters and Stuff -->
                <div class="filters-container">
                    <label class="text-uppercase sr-only" for="myInputActive"></label>
                    <input class="form-control" type="text" id="myInputActive" onkeyup="myFunction('activeProjectsTable', 'myInputActive')" placeholder="Search project / customer.." >
                </div>

                <!-- Table Active Projects -->
                <table class="table" id="activeProjectsTable">

                    <!-- Table Head -->
                    <tr>
                        <th>Project name/ Customer</th>
                        <th>Progress</th>
                        <th>Team</th>
                        <th>Due date</th>
                        <th>Details</th>
                    </tr>

                    <!-- Table Data -->
                    {{#each projects}}
                        {{#if this.projectActive}}
                            <tr>
                                <!-- Project Name -->
                                <td class="" id="projectName">
                                    <h4>{{this.projectName}}</h4>
                                    <h6>{{this.projectCustomer.customerName}}</h6>
                                </td>
                                <!-- Project Progress -->
                                <td class="" id="projectProgress">{{this.projectProgress}}%
                                    <div class="progress">
                                        <div class="progress-bar"
                                             role="progressbar"
                                             aria-valuenow=""
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: 25%;">
                                        </div>
                                    </div>
                                </td>
                                <!-- Project Team -->
                                <td class="" id="projectTeam">{{this.projectTeam.teamName}}</td>
                                <!-- Project Due date -->
                                <td class="" id="projectDueDate">
                                    <span class="date"><time datetime="">{{this.date}}</time></span>
                                </td>
                                <!-- Details Button -->
                                <td>
                                    <a href="/project/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                                </td></tr>
                        {{/if}}

                    {{/each}}
                </table>


            </div>

            <!-- Closed Projects Tab -->
            <div role="tabpanel" class="tab-pane" id="closedProjects">

                <h1 class="">Closed projects</h1>

                <!-- Filters and Stuff -->
                <div class="filters-container">
                    <label class="text-uppercase sr-only" for="myInputClosed"></label>
                    <input class="form-control" type="text" id="myInputClosed" onkeyup="myFunction('closedProjectsTable', 'myInputClosed')" placeholder="Search project / customer.." >
                </div>

                <!-- Table Closed Projects -->
                <table class="table" id="closedProjectsTable">

                    <!-- Table Head -->
                    <tr>
                        <th>Project name/ Customer</th>
                        <th>Progress</th>
                        <th>Team</th>
                        <th>Due date</th>
                        <th>Details</th>
                    </tr>

                    <!-- Table Data -->
                    {{#each projects}}
                        {{#unless this.projectActive}}
                            <tr>
                                <!-- Project Name -->
                                <td class="" id="projectName">
                                    <h4>{{this.projectName}}</h4>
                                    <h6>{{this.projectCustomer.customerName}}</h6>
                                </td>

                                <!-- Project Progress -->
                                <td class="" id="projectProgress">{{this.projectProgress}}%
                                    <div class="progress">
                                        <div class="progress-bar"
                                             role="progressbar"
                                             aria-valuenow=""
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: 25%;">
                                        </div>
                                    </div>
                                </td>

                                <!-- Project Team -->
                                <td class="" id="projectTeam">{{this.projectTeam.teamName}}</td>

                                <!-- Project Due date -->
                                <td class="" id="projectDueDate">
                                    <span class="date"><time datetime="">{{this.date}}</time></span>
                                </td>

                                <!-- Details Button -->
                                <td>
                                    <a href="/project/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                                </td>
                            </tr>
                        {{/unless}}
                    {{/each}}
                </table>

            </div>

        </div>
    </div>

</div>









</div>


