
<!-- Filter Scripts -->
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("activeProjectsTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<!-- Body Tabs  -->
<div class="container section">

    <!-- Tab Names -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Active Projects</a></li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Closed Projects</a></li>
    </ul>

    <!-- Tab Views -->
    <div class="tab-content">

        <!-- Add Content Buttons -->
        <div class="row">
            <div class="container section">

                <a href="../project/create">
                    <button class="btn btn-default">New Project</button>
                </a>

                <a href="../customer/create">
                        <button class="btn btn-default">New Customer</button>
                </a>

                <a href="../rate/create">
                    <button class="btn btn-default">Rates</button>
                </a>

            </div>
        </div>

        <!-- Active Projects Tab -->
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
                    <div class="container section" id="activeProjects">

                        <h1 class="">Active projects</h1>

                        <!-- Filters and Stuff -->

                        <div class="form-inline form-group ">
                            <label class="text-uppercase" for="myInput">Filter Projects:</label>
                            <input class="form-control"
                                   type="text"
                                   id="myInput"
                                   onkeyup="myFunction()"
                                   placeholder="Search project / customer.." >
                        </div>


                        <!-- Table Active Projects -->
                        <table class="col-lg-12" id="activeProjectsTable">

                            <!-- Table Head -->
                            <tr>
                                <th>Project name/ Customer</th>
                                <th>Progress</th>
                                <th>Team</th>
                                <th>Due date</th>
                                <th>Details</th>
                            </tr>

                            <!-- Table Data -->
                            {{#each projects}}
                                {{#if this.projectActive}}
                                    <tr>
                                        <!-- Project Name -->
                                        <td class="" id="projectName">
                                            <h4>{{this.projectName}}</h4>
                                            <h6>{{this.projectCustomer.customerName}}</h6>
                                        </td>

                                        <!-- Project Progress -->
                                        <td class="" id="projectProgress">{{this.projectProgress}}%
                                            <div class="progress">
                                                <div class="progress-bar"
                                                     role="progressbar"
                                                     aria-valuenow=""
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width: 25%;">
                                                </div>
                                            </div>
                                        </td>

                                        <!-- Project Team -->
                                        <td class="" id="projectTeam">{{this.projectTeam}}</td>

                                        <!-- Project Due date -->
                                        <td class="" id="projectDueDate">
                                            <span class="date"><time datetime="">{{this.projectDueDate}}</time></span>
                                        </td>

                                        <!-- Details Button -->
                                        <td>
                                            <a href="/project/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                                        </td>
                                    </tr>
                                {{/if}}
                            {{/each}}
                        </table>
                    </div>
                </div>
        </div>

        <!-- Closed Projects Tab -->
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="row">
                <div class="container section" id="activeProjects">

                    <h1 class="">Closed</h1>

                    <!-- Filters and Stuff -->
                    <div class="form-group">
                        <label class="text-uppercase" for="myInput">Search:</label>
                        <input class="form-control"
                               type="text"
                               id="myInput"
                               onkeyup="myFunction()"
                               placeholder="Search project / customer.." >
                    </div>

                    <!-- Table Closed Projects -->
                    <table class="col-lg-12" id="activeProjectsTable">

                        <!-- Table Head -->
                        <tr>
                            <th>Project name/ Customer</th>
                            <th>Progress</th>
                            <th>Team</th>
                            <th>Due date</th>
                            <th>Details</th>
                        </tr>

                        <!-- Table Data -->
                        {{#each projects}}
                            {{#if this.projectActive}}
                                <tr>
                                    <!-- Project Name -->
                                    <td class="" id="projectName">
                                        <h4>{{this.projectName}}</h4>
                                        <h6>{{this.projectCustomer.customerName}}</h6>
                                    </td>

                                    <!-- Project Progress -->
                                    <td class="" id="projectProgress">{{this.projectProgress}}%
                                        <div class="progress">
                                            <div class="progress-bar"
                                                 role="progressbar"
                                                 aria-valuenow=""
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"
                                                 style="width: 25%;">
                                            </div>
                                        </div>
                                    </td>

                                    <!-- Project Team -->
                                    <td class="" id="projectTeam">{{this.projectTeam}}</td>

                                    <!-- Project Due date -->
                                    <td class="" id="projectDueDate">
                                        <span class="date"><time datetime="">{{this.projectDueDate}}</time></span>
                                    </td>

                                    <!-- Details Button -->
                                    <td>
                                        <a href="/project/details/{{this.id}}"><button class="btn btn-primary">More</button></a>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>


