<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

    function completeTask () {

        let taskId = $("#completeTask").val();
        let url = '/task/complete/' + taskId;

        if(confirm("Are you sure you want to close this task?")){
            $.post(url, {complete: false}, function () {
            });
            window.location.replace('/project/list')
        }
        else{
            return false;
        }
    };

</script>

<main>

    <div class="container">

        <!-- Left Section -->
        <div class="col-lg-3 section">

            <!--  Project Info  -->
            <div class="section well ">
                <h4>{{task.taskProjectId.projectName}}</h4>
                <p>Project Progress: {{this.projectProgress}}%
                    <div class="progress" style="width: 100%">
                        <div class="progress-bar"
                             role="progressbar"
                             aria-valuenow="{{this.projectProgress}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{this.projectProgress}}%;">
                        </div>
                    </div>
                </p>

                <span class="glyphicon glyphicon-hourglass"></span>
                {{task.date}}
                <hr>

                <span class="glyphicon glyphicon-user"></span>
                {{task.taskTeamId.teamName}}
                <hr>

                <span class="glyphicon glyphicon-pencil"></span>
                <a href="#">Project Commits <span class="badge pull-right">200</span></a>
            </div>

            <!--  Task Info  -->
            <div class="section well ">
                <h4>{{task.taskName}}</h4>
                <hr>

                <p>Status: <span class="glyphicon glyphicon-alert glyphicon-cool"></span></p>
                <hr>

                <span class="glyphicon glyphicon-hourglass"></span>
                {{task.date}}
                <hr>

                <span class="glyphicon glyphicon-user"></span>
                {{task.taskTeamId.teamName}}
                <hr>

                <span class="glyphicon glyphicon-pencil"></span>
                <a href="#">Task Commits <span class="badge pull-right">29</span></a>


            </div>
        </div>

        <!-- Right Section -->
        <div class="col-lg-9 section">
            <div class="row">
                <!-- Task Name -->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-9">

                            <h3>{{task.taskName}}</h3>

                        </div>
                        <div class="col-lg-3">
                            {{#if task.taskActive}}
                                <button id="completeTask" class="btn btn-success" onclick="completeTask()" value="{{task.id}}">
                                    <span class="glyphicon glyphicon-ok"></span>&nbsp Close Task
                                </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task Description -->
            <div class="section">
                <hr>
                <h5>Task Description</h5>
                <p>{{task.taskDescription}}</p>
                <!--<div class="btn btn-xs btn-default center">Show More</div>-->

            </div>

            <!--  New Commit -->
            {{#if task.taskActive}}
            <div class="section well">
                <h4>New Task Commit</h4>
                <hr>

                <form action="/task/details/{{task.id}}" method="POST">

                    <!--  Comment  -->
                    <div class="form-group">
                        <label class="sr-only" for="comment">Commit Description</label>
                        <textarea rows="4" class="form-control form-control-tasks" id="comment" placeholder="Add your description here" name="comment"></textarea>
                    </div>

                    <!--  Hours spent  -->
                    <div class="form-group">
                        <label class="sr-only" for="hoursSpent">Hours spent</label>
                        <input type="number" class="form-control-tasks" id="hoursSpent" placeholder="Add spent time" name="hoursSpent">
                    </div>

                    <!--  Submit / Discard  -->
                    <div class="section text-center">
                        <button type="submit" class="btn btn-primary btn-lg text-center">New Commit</button>
                    </div>
                </form>
            </div>
            {{/if}}

            <!--  Task Commits  -->
            <div class="section">
                <h5>Commits:</h5>
                {{#each task.taskComment}}
                    <div class="media well">
                        <div class="media-left">
                            <img src="/images/lora.jpg" class="media-object" style="width:60px">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">{{this.name}} posted on {{this.date}}</h5>
                            <p>{{this.comment}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>

            <!--  Modal  -->
            <!--{{#if task.taskActive}}
                &lt;!&ndash;  Update Report  &ndash;&gt;
                <div class="text-center" data-toggle="modal" data-target="#myModal">
                    <div class="btn btn-primary">
                        Update
                    </div>
                </div>

                &lt;!&ndash; Update Modal &ndash;&gt;
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">

                        &lt;!&ndash;  Modal Content  &ndash;&gt;
                        <div class="modal-content">

                            &lt;!&ndash;  Header  &ndash;&gt;
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">User input</h4>
                            </div>

                            &lt;!&ndash;  Body  &ndash;&gt;
                            <div class="modal-body">

                                &lt;!&ndash;  Form  &ndash;&gt;
                                <form class="form-horizontal" action="/task/details/{{task.id}}" method="POST">

                                    &lt;!&ndash;  Comment  &ndash;&gt;
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="comment">Comment</label>
                                        <div class="col-sm-10">
                                            <textarea rows="4" class="form-control center" id="comment" placeholder="..." name="comment"></textarea>
                                        </div>
                                    </div>

                                    &lt;!&ndash;  Hours spent  &ndash;&gt;
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="hoursSpent">Hours spent</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control center" id="hoursSpent" placeholder="..." name="hoursSpent">
                                        </div>
                                    </div>


                                    &lt;!&ndash;  Submit / Discard  &ndash;&gt;
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add comment</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}-->

            <!--  Back Button  -->
            <a href="/project/details/{{task.taskProjectId._id}}">
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Back to Project
                </button>
            </a>

        </div>
    </div>
</main>