<script type="text/javascript">

    $(document).ready(function () {
        $('.removeButton').click(function () {
            var userId = $(this).parent().find('#userId').text();
            var url = '/team/edit/' + $('#teamId').text();
            $.post(url,
                    {userId: userId
                    }, function () {
                    });

            let redirect = '/team/details/' + $('#teamId').text();
            location.href = redirect;
        })
    })

</script>


<main>
    {{#if user}}

        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li><a href="/team/list">All Teams</a></li>
            <li class="active">{{team.teamName}}</li>
        </ol>


        <div class="container">

            <div class="page-header">
                <h1>{{team.teamName}}</h1>
            </div>

            <div id="teamId" hidden>{{team.id}}</div>

            {{#if user}}
                <div class="col-sm-12">
                    <div class="well">
                        {{#each team.userID}}

                            <div>
                                <img class="img-team" src="/images/userProfilePictures/{{this.picture}}">
                                {{this.fullName}}

                                <div id="userId" hidden>{{this.id}}</div>

                                {{#if isAdmin}}
                                    <div id="" class="btn btn-default pull-right removeButton">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </div>
                                {{/if}}
                                <hr>
                            </div>
                        {{/each}}


                        {{#if isAdmin}}
                            <button class="btn btn-default " href="/team/edit/{{team.id}}">
                                <span class="glyphicon glyphicon-plus"></span> Add User
                            </button>
                        {{/if}}
                    </div>
                </div>
            {{/if}}

            <!--  Back Button -->
            <div class="col-sm-12">
                <a href="/team/list">
                    <button class="btn btn-default pull-right" style="margin-bottom: 20px">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back to All Teams
                    </button>
                </a>
            </div>
        </div>
    {{/if}}
</main>