<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

<script type="text/javascript">

    $(document).ready(function() {

        $('#userName').multiselect();

    });

</script>


<main>
    {{#if user}}

        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li><a href="/team/list">All Teams</a></li>
            <li class="active">{{team.teamName}}</li>
        </ol>


        <div class="container">

            <div class="page-header">
                <h1>{{team.teamName}}</h1>
            </div>

            {{#if user}}
                <!--  Left Side  -->
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <h4>Members</h4>
                    <hr>

                    <div>

                        {{#each team.userID}}

                            <img class="img-team" src="/images/userProfilePictures/{{this.picture}}">
                            {{this.fullName}}

                            {{#if isAdmin}}
                                <a class="btn-sm btn-default pull-right" href="/team/edit/{{team.id}}">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </a>
                            {{/if}}
                            <hr>
                        {{/each}}

                        {{#if isAdmin}}
                            <button class="btn btn-default center" href="/team/edit/{{team.id}}">
                                <span class="glyphicon glyphicon-plus"></span> Add User
                            </button>
                        {{/if}}
                    </div>
                </div>

                <!--  Team Projects - Right Side -->
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <div class="row">

                        <!--  User Projects  -->
                        <div class="col-sm-12 ">
                            <h4>Team Projects</h4>
                            <div class="container-border section">
                                <div class="well white">
                                    {{#each projects}}
                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            {{this.projectName}}<a href="/project/details/{{this.id}}" class="btn-sm pull-right">
                                            View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                                            <hr>
                                        </p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>


                        <!--  User Teams  -->
                        <div class="col-sm-12">
                            <h4>Team Tasks</h4>
                            <div class="container-border section">
                                <div class="well white">
                                {{#each teams}}
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        {{this.teamName}}<a href="/team/details/{{this.id}}" class="btn-sm pull-right">
                                        View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                                        <hr>
                                    </p>
                                {{/each}}
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            {{/if}}

            <!--  Back Button -->
            <div class="col-sm-12">
                <a href="/team/list">
                    <button class="btn btn-default pull-right" style="margin-bottom: 20px">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back to All Teams
                    </button>
                </a>
            </div>
        </div>
    {{/if}}
</main>