<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

<script type="text/javascript">

    $(document).ready(function() {

        $('#userName').multiselect();

    });

</script>


<main>
    {{#if user}}
    <div class="container">

        <div class="col-lg-12">
            <h2>Teams</h2>
            <hr>
        </div>


        <div class="col-sm-6">
            <div class="thumbnail">


                    <h4>{{team.teamName}}</h4>


                <div class="container-border well">

                    {{#each team.userID}}

                        <img class="img-team" src="/images/userProfilePictures/{{this.picture}}">

                        {{this.fullName}}

                        {{#if isAdmin}}
                            <a class="btn btn-default pull-right" href="/team/edit/{{team.id}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {{/if}}
                        <hr>
                    {{/each}}

                    {{#if isAdmin}}
                        <button class="btn btn-default pull-right" href="/team/edit/{{team.id}}">
                            <span class="glyphicon glyphicon-plus"></span> Add User
                        </button>
                    {{/if}}
                </div>



            </div>

        </div>

        <!--  Back Button -->
        <div class="section">
            <a href="/team/list">
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Back to All Teams
                </button>
            </a>
        </div>
    </div>
    {{/if}}
</main>