<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

<script type="text/javascript">

    $(document).ready(function() {

        $('#userName').multiselect();

    });

</script>


<main>
    {{#if user}}

        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li><a href="/team/list">All Teams</a></li>
            <li class="active">{{team.teamName}}</li>
        </ol>


        <div class="container">

            <div class="page-header">
                <h1>{{team.teamName}}</h1>
            </div>

            {{#if user}}
                <div class="col-sm-12">
                    <div class="well">
                        {{#each team.userID}}

                            <img class="img-team" src="/images/userProfilePictures/{{this.picture}}">
                            {{this.fullName}}

                            {{#if isAdmin}}
                                <a class="btn btn-default pull-right" href="/team/edit/{{team.id}}">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </a>
                            {{/if}}
                            <hr>
                        {{/each}}

                        {{#if isAdmin}}
                            <button class="btn btn-default " href="/team/edit/{{team.id}}">
                                <span class="glyphicon glyphicon-plus"></span> Add User
                            </button>
                        {{/if}}
                    </div>
                </div>
            {{/if}}

            <!--  Back Button -->
            <div class="col-sm-12">
                <a href="/team/list">
                    <button class="btn btn-default pull-right" style="margin-bottom: 20px">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back to All Teams
                    </button>
                </a>
            </div>
        </div>
    {{/if}}
</main>