<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

<script type="text/javascript">

    $(document).ready(function() {

        $('#userName').multiselect();

    });

    $(document).ready(function () {
        $('.removeButton').click(function () {
            var userId = $(this).parent().find('#userId').text();
            var url = '/team/remove/' + $('#teamId').text();
            $.post(url,
                    {userId: userId
                    }, function () {
                    });

            let redirect = '/team/details/' + $('#teamId').text();
            location.href = redirect;
        })
    })

</script>


<main>
    {{#if user}}

        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li><a href="/team/list">All Teams</a></li>
            <li class="active">{{team.teamName}}</li>
        </ol>


        <div class="container">

            <div class="page-header">
                <h1>{{team.teamName}}</h1>
            </div>

            <div id="teamId" hidden>{{team.id}}</div>

            {{#if user}}
                <!--  Left Side  -->
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <h4>Members</h4>
                    <hr>

                    <div>

                        {{#each team.userID}}

                            <div>
                                <img class="img-team" src="/images/userProfilePictures/{{this.picture}}">
                                {{this.fullName}}

                                <div id="userId" hidden>{{this.id}}</div>

                                {{#if isAdmin}}
                                    <div id="remove-btn" class="btn-sm btn-default pull-right removeButton">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </div>
                                {{/if}}
                                <hr>
                            </div>
                        {{/each}}


                        {{#if isAdmin}}
                            <button class="btn btn-link center" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-plus"></span> Add User
                            </button>
                        {{/if}}
                    </div>
                </div>

                <!--  Team Projects - Right Side -->
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <div class="row">

                        <!--  Active Projects  -->
                        <div class="col-sm-12 ">
                            <h4>Projects</h4>
                            <div class="container-border section">
                                <div class="well white">
                                    {{#each selectedProjects}}
                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            {{this.projectName}}<a href="/project/details/{{this.id}}" class="btn-sm pull-right">
                                            View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                                            <hr>
                                        </p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {{/if}}

            <!--  Back Button -->
            <div class="col-sm-12">
                <a href="/team/list">
                    <button class="btn btn-default pull-right" style="margin-bottom: 20px">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back to All Teams
                    </button>
                </a>
            </div>
        </div>

        <!-- Modal Register -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">

                <!--  Modal Content  -->
                <div class="modal-content">

                    <!--  Header  -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add team members</h4>
                    </div>

                    <!--  Body  -->
                    <div class="modal-body">

                        <!--  Form  -->
                        <form class="form-horizontal" action="/team/add/{{team.id}}" method="POST">

                            <!-- Select User -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label " for="userName">User</label>
                                <div class="col-sm-4 ">
                                    <div class="row-fluid">
                                        <select class="selectpicker form-control" multiple="multiple" id="userName" name="userName"  required data-live-search="true">
                                            {{#each users}}
                                                <option >
                                                    <div >{{this.fullName}}</div>
                                                </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--  Submit / Discard  -->
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</main>