
<!--  Register Page  -->
<div class="container body-content span=8 offset=2">
    <div class="well">

        <!--  Form  -->
        <form  action="/register" method="POST">

            <!--  Name  -->
            <div class="form-group">
                <input type="text" class="form-control center input-lg" id="name" placeholder="Full Name"
                       name="register[name]" value="{{register.name}}">
            </div>

            <!--  Email  -->
            <div class="form-group">
                <input type="email" class="form-control center input-lg" id="email" placeholder="Email"
                       name="register[email]" value="{{register.email}}">
            </div>

            <!--  Password  -->
            <div class="form-group">
                <input type="password" class="form-control center input-lg" id="password" placeholder="Password"
                       name="register[password]" value="{{register.password}}">
            </div>

            <!--  Re-enter Password  -->
            <div class="form-group">
                <input type="password" class="form-control center input-lg" id="reenterPassword" placeholder="Re-enter Password"
                       name="register[reenterPassword]" value="{{register.reenterPassword}}">
            </div>

            <!--  Phone  -->
            <div class="form-group ">
                <input type="text" class="form-control center input-lg" id="phone" placeholder="Phone Number"
                       name="register[phone]" value="{{register.phone}}">
            </div>

            <!--  Country  -->
            <div class="form-group">
                <select class="form-control center input-lg" id="country" placeholder="Address"
                        name="register[country]" value="{{register.address}}">
                    <option>Bulgaria</option>
                    <option>India</option>
                    <option>Sweden</option>
                    <option>Nepal</option>
                    <option>Bolivia</option>
                </select>
            </div>

            <!--  Register  -->
            <div class="form-group">
                <input class="form-control center input-lg" id="address" placeholder="Address"
                       name="register[address]" value="{{register.address}}">
            </div>

            <!--  Is Admin  -->
            <div class="form-group center-content">

                <!--  Admin Pass Trigger  -->
                <a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <h5>Create Administrator Account</h5>
                </a>

                <!--  Admin Pass Field  -->
                <div class="collapse" id="collapseExample">
                    <div class="form-group">
                        <input type="text" class="form-control center" id="adminCode" placeholder="Admin Code"
                               name="register[adminCode]" value="{{register.adminCode}}">
                    </div>
                </div>
            </div>

            <!--  Create Button  -->
            <div class="form-group center-content">
                <button type="submit" class="btn btn-primary btn-lg">Create account</button>
            </div>

        </form>

        <!--  Other Links  -->
        <div class="form-group">
            <div class="center-content">
                <a href="./" class="">Login page</a><br>
                <a href="/user" class="">User Page</a>
            </div>
        </div>

    </div>
</div>
