<script>

    $(document).ready(function () {
        $('.editButton').click(function () {
            $(this).closest('tr').find('#userRate').removeAttr('disabled');
            $(this).closest('tr').find('#changeRate').removeClass('invisible');
            $('.editButton').attr('disabled', 'true');
        })
    });

    $(document).ready(function () {
        $('.changeButton').click(function () {
            let userID = $(this).closest('tr').find('#userID').val();
            let newRate = $(this).closest('tr').find('#userRate').val();

            let url = '/rate/edit/';

            $.post(url,
                    {id: userID,
                        rate: newRate,
                    }, function () {
                    });

            window.location.replace('/rate/list/')
        })
    })
</script>

<main>
    {{#if user}}

        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li><a href="/userViews/list">Users</a></li>
            <li class="active">Rates</li>
        </ol>

        <div class="container">

            <div class="page-header">
                <h1>User Rates</h1>
            </div>

            <div class="col-sm-12 ">

                <table class="table table table-no-border" id="ratesTable">
                    <!-- Table Head -->
                    <!--<tr>
                        <th>User</th>
                        <th></th>
                        <th>Occupation</th>
                        <th>Rate</th>
                        <th>Action</th>
                    </tr>-->

                    <!-- Table Body -->

                    {{#each users}}

                        <div class="col-lg-12">
                            <tr>
                                <!-- User Picture -->
                                <td class="col-lg-1" id="userPicture">
                                    <img class="img img-circle" src="/images/userProfilePictures/{{this.picture}}" width="60" height="60">
                                </td>

                                <!-- User Name -->
                                <td class="col-lg-2" id="userName">
                                    <h5>{{this.fullName}}</h5>
                                </td>

                                <!-- User Occupation -->
                                <td class="col-lg-1" id="userOccupation">
                                    <p>{{this.occupation.occupationName}}</p>
                                </td>

                                <!-- User Rate -->
                                <td class="col-lg-3" id="">
                                    <input id="userRate" type="number" step="0.01" class="form-control" value="{{this.rate}}" disabled>
                                </td>

                                <!-- User ID -->
                                <td hidden class="" id="">
                                    <input  id="userID" type="text" class="" value="{{this.id}}">
                                </td>

                                <!-- Edit Button -->
                                <td class="col-lg-1" id="editRate">
                                    <button class="btn-sm btn-primary editButton" id="editRateButton">Edit</button>
                                </td>

                                <!-- Change Button -->
                                <td class="invisible" id="changeRate" >
                                    <button class="btn-sm btn-info changeButton" id="changeRateButton">Change</button>
                                </td>

                            </tr>
                        </div>
                    {{/each}}
                </table>
            </div>


<!--            <a href="/project/list">
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Back to Projects
                </button>
            </a>-->
        </div>
    {{/if}}
</main>
