<script>

    $(document).ready(function () {
        $('.editButton').click(function () {
            $('.saveButton').removeAttr('disabled').removeClass('btn-default').addClass('btn-primary');
            $('#inputAddress').removeAttr('disabled');
            $('#inputAddress').parent().parent().addClass('has-success');
            $('#inputEmail').removeAttr('disabled');
            $('#inputEmail').parent().parent().addClass('has-success');
            $('#inputPhone').removeAttr('disabled');
            $('#inputPhone').parent().parent().addClass('has-success');
            $('.editButton').removeClass('btn-primary').addClass('btn-default');
            $('.editButton').attr('disabled', 'true');
            $('.saveButton').removeClass('invisible');
        })
    });

    $(document).ready(function () {
        $('.saveButton').click(function () {

            let phone = $('#inputPhone').val();
            let email = $('#inputEmail').val();
            let address = $('#inputAddress').val();


            let url = '/user/edit/';

            $.post(url,
                    {
                        phone : phone,
                        email: email,
                        address: address
                    }, function () {
                    });

            location.href = '/userViews/list/';
            location.href = '/userViews/profile/';
        });
    })

</script>

<main>
    {{#if user}}
        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li><a href="/customer/list">All Customers</a></li>
            <li class="active">{{customer.customerName}}</li>
        </ol>

        <div class="container">

            <div class="page-header">
                <h1>{{customer.customerName}}</h1>
            </div>



                <!--  Left Side  -->
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <h4>Customer Details</h4>
                    <hr>

                    <form class="form-horizontal well white">

                        <div class="form-group form-group-no-border">
                            <div for="inputPhone" class="col-xs-1 "><span class="glyphicon glyphicon-earphone glyphicon-profile"></span></div>
                            <div class="col-xs-10">
                                <input id="inputPhone" class="form-control input-no-border" type="text" disabled value="{{customer.customerPhone}}"/>
                            </div>
                        </div>

                        <div class="form-group form-group-no-border">
                            <div for="inputEmail" class="col-xs-1 "><span class="glyphicon glyphicon-envelope glyphicon-profile"></span></div>
                            <div class="col-xs-10">
                                <input id="inputEmail" class="form-control input-no-border" type="text" disabled value="{{customer.customerEmail}}"/>
                            </div>
                        </div>

                        <div class="form-group form-group-no-border">
                            <div for="inputAddress" class="col-xs-1 "><span class="glyphicon glyphicon-map-marker glyphicon-profile"></span></div>
                            <div class="col-xs-10">
                                <input id="inputAddress" class="form-control input-no-border" type="text" disabled value="{{customer.customerAddress}}"/>
                            </div>
                        </div>
                    </form>

                    <div class="pull-right">
                        <button class="btn-sm btn-default saveButton invisible" disabled>Save</button>
                        <button class="btn-sm btn-primary editButton">Edit</button>
                    </div>
                </div>

                <!--  Team Projects - Right Side -->
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <div class="row">

                        <!--  Active Projects  -->
                        <div class="col-sm-12 ">
                            <h4>Active Projects</h4>
                            <div class="container-border section">
                                <div class="well white">
                                    {{#each customer.projects}}
                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            {{this.projectName}}<a href="/project/details/{{this.id}}" class="btn-sm pull-right">
                                            View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                                        <hr>
                                        </p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>

                        <!--  Customer Projects  -->
                        <div class="col-sm-12 ">
                            <h4>Closed Projects</h4>
                            <div class="container-border section">
                                <div class="well white">
                                    {{#each customer.projects}}
                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            {{this.projectName}}<a href="/project/details/{{this.id}}" class="btn-sm pull-right">
                                            View&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a>
                                        <hr>
                                        </p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            <!--  Back Button -->
            <div class="col-sm-12">
                <a href="/customer/list">
                    <button class="btn btn-default pull-right" style="margin-bottom: 20px">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back to All Customers
                    </button>
                </a>
            </div>

        </div>
    {{/if}}
</main>