<script>
    function myFunction(inputType) {

        // Declare variables
        var input;
        input = document.getElementById(inputType); //search item
/*        filter = input.value.toUpperCase();*/ //search item toUpperCase

/*        $('.row').children().hide();*/
        $('.row').find("h5:contains(" + input + ")").parent().parent().parent().hide();

    }
</script>


<main>
    {{#if user}}
        <ol class="container breadcrumb transparent">
            <li><a href="/project/list">Home</a></li>
            <li class="active">All Customers</li>
        </ol>

        <!--  Body  -->
        <div class="container">

            <div class="page-header">
                <h1>Customers</h1>
            </div>

            <!-- Left Section -->
            <div class="container col-md-3 section">
                <div class="list-group">
                    <div class="list-group-item active">
                        Something
                    </div>
                    <a href="#" class="list-group-item">
                        All Clients <span class="badge">23</span>
                    </a>
                    <a href="#" class="list-group-item">
                        Active Clients <span class="badge">64</span>
                    </a>
                    <a href="#" class="list-group-item">
                        Another One <span class="badge">64</span>
                    </a>
                </div>

            </div>

            <!-- Right Section -->
            <div class="section col-md-9 ">

            <div class="row">

                {{#each customers}}
                    <div class="col-lg-4 col-xs-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h5 id="customerName">{{this.customerName}}</h5>
                                <div class="well"><span class="glyphicon glyphicon-earphone"></span>
                                {{this.customerPhone}}<hr>
                                <span class="glyphicon glyphicon-envelope"></span>
                                {{this.customerEmail}}<hr>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                {{this.customerAddress}}</div>
                            </div>

                            <a href="/customer/details/{{this.id}}" class="btn-sm pull-right">
                                More&nbsp<span class="glyphicon glyphicon-chevron-right"></span>
                            </a>

                        </div>
                    </div>
                    {{/each}}
            </div>
        </div>
    {{/if}}
</main>

